body {
	margin: 0;
}
#three-canvas {
	position: absolute;
	left: 0;
	top: 0;
}

/* 
.btns button{
	position: absolute;
	padding: 5px 10px;
	border: 20px;
	color: #ff7a2f;
	outline: 1px solid #ff7a2f;
	border: none;
	font-size: 16px;
	background: transparent;
	cursor: pointer;

}

button:hover{
	background-color: #ff7a2f;
	color: white;
} */
.element{
	background-size: cover;

}
#menu {
	position: absolute;
	bottom: 20px;
	width: 100%;
	text-align: center;
}


.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0;
    gap: 60vw;

}
.menu{
    display: none;
}

.logo-container {
    width: 50px;
    height: 50px;
}

.logo {
    width: 50px;
    padding: 20px;
}




.element {
	width: 120px;
	height: 160px;
	font-family: Helvetica, sans-serif;
	text-align: center;
	line-height: normal;
	cursor: default;
}
.element:hover {
	box-shadow: 0px 0px 12px #D4B44A;
	border: 1px solid #D4B44A;
}

	.element .number {
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 12px;
		color: #D4B44A;
	}

	.element .symbol {
		position: absolute;
		top: 40px;
		left: 0px;
		right: 0px;
		font-size: 60px;
		font-weight: bold;
		color: rgba(255,255,255,0.75);
		text-shadow: 0 0 10px #D4B44A;
	}

	.element .details {
		position: absolute;
		bottom: 15px;
		left: 0px;
		right: 0px;
		font-size: 12px;
		color: #D4B44A;
	}

button {
	color: #D4B44A;
	background: transparent;
	outline: 1px solid #D4B44A;
	border: 0px;
	padding: 5px 10px;
	cursor: pointer;
}

button:hover {
	background-color: #D4B44A;
	color: black;

}

button:active {
	color: #000000;
	background-color: #D4B44A;
}